#closeDetailDiaryModal {
  position: absolute;
  right: 20px;
}

.detailInnerModal {
  display: flex;
  padding: 10px 20px;
}

.detailInnerModal :first-child {
  width: 10%;
}

.detailInnerModal > .detailDiaryInfo {
  width: calc(90% - 40px);
}

.detailDiaryContent {
  height: 80%;
}

#diaryControllButtons {
  width: calc(100% - 20px);
  padding: 10px;
}

.updateDiaryInput {
  width: calc(90% - 40px);
}

.controllButton {
  width: 80px;
  border-radius: 15px;
  border: none;
}

#deleteDiary {
  background-color: pink;
}

#cancelUpdate {
  background-color: pink;
}

/* #updateDiary {
  float: right;
  right: 100px;
  background-color: aquamarine;
}

#completeUpdateDiary {
  float: right;
  right: 100px;
  background-color: aquamarine;
} */

.rightFloatingButton {
  float: right;
  right: 100px;
  background-color: aquamarine;
}
