body {
  margin: 0px 0px 0px 0px;
  padding: 0px 10% 0px 10%;
  max-height: 100%;
}

#sortButtons {
  float: right;
  width: 180px;
  height: 26px;
}

#appTitle {
  width: 150px;
  height: 26px;
}

#search {
  width: calc(100% - 320px);
  height: 26px;
}

#searchButton {
  margin: 0px 0px 0px 0px;

  width: 50px;
  height: 26px;

  border: 0px;
  background-color: transparent;
}

.sortButton {
  border: 0px;
  background-color: transparent;
  height: 26px;
}

.sortButton:hover {
  color: blueviolet;
  cursor: pointer;
}

main#note {
  border: 1px solid black;
}

div.card {
  border: 1px solid red;
  border-radius: 15px;
  margin: 10px;

  max-width: 300px;
  max-height: 300px;
  width: 300px;
  height: 300px;

  min-width: 100px;
  min-height: 100px;
}

.innerCard {
  padding: 10px;
}

.diaryModal {
  top: calc(50% - 400px);
  left: calc(50% - 400px);

  width: 800px;
  height: 800px;
  border-radius: 30px;
}

#innerDiaryModal {
  width: 100%;
  height: 100%;

  border: 1px solid red;
}
