<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <title>함께 만드는 교환 일기</title>
    <link href='/css/common.css' rel='stylesheet' />
    <link href='/css/home/index.css' rel='stylesheet' />
    <link href='/css/home/userSection.css' rel='stylesheet' />
    <link href='/css/home/historySection.css' rel='stylesheet' />
    <link href='/css/home/groupSection.css' rel='stylesheet' />
    <script src='/javascripts/util.js'></script>
    <script src='/javascripts/home/userSection.js'></script>
    <script src='/javascripts/home/historySection.js'></script>
    <script src='/javascripts/home/index.js'></script>
  </head>
  <body>
    <header>
      <h1 id='appName' class='mainAppName' onclick="window.location.href='/'">
        <span class='strongText1'>T</span>ransaction
        <span class='strongText2'>D</span>iary
      </h1>

      <button class='bannerTopButtons rightFloatingButton'>
        <span
          class='buttonText'
          onclick="window.location.href = '/main'"
        >Diary</span>
      </button>

    </header>
    <main>
      <div id='userProfile'>
        <section id='user'>
          <div id='userPicContainer'>
            <img id='userPic' />
          </div>
          <div id='userInfo'>
            <span id='username'></span>
          </div>
          <div id='userProfileEditContainer'>
            <button id='editProfile'>edit</button>
          </div>
        </section>

        <section id='history'>
          <h2 id='historyText'>History</h2>
          <div id='userHistory'></div>
        </section>
      </div>

      <section id='groups'>
        <div>
          <button>group</button>
          <button>friend</button>
        </div>
        <div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>