<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <title>함께 만드는 교환 일기</title>
    <link href='/css/common.css' rel='stylesheet' />
    <link href='/css/home/index.css' rel='stylesheet' />
    <link href='/css/home/userSection.css' rel='stylesheet' />
    <link href='/css/home/historySection.css' rel='stylesheet' />
    <link href='/css/home/groupSection.css' rel='stylesheet' />
    <script src='/javascripts/util.js'></script>
    <script src='/javascripts/home/userSection.js'></script>
  </head>
  <body>
    <header></header>
    <main>
      <div id='userProfile'>
        <section id='user'>
          <div id='userPicContainer'>
            <img id='userPic' />
          </div>
          <div id='userInfo'>
            <span>이름 : </span>
            <span id='username'> kakasoo </span>
          </div>
          <div id='userProfileEditContainer'>
            <button id='editProfile'>edit</button>
          </div>
        </section>

        <section id='history'></section>
      </div>

      <section id='groups'>
        <div>
          <button>group</button>
          <button>friend</button>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>