<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <title>함께 만드는 교환 일기</title>
    <link href='/css/common.css' rel='stylesheet' />
    <link href='/css/intro/index.css' rel='stylesheet' />
    <script src='/javascripts/util.js'></script>
    <script src='/javascripts/intro/login.js'></script>
    <script src='/javascripts/intro/signUp.js'></script>
    <script src='/javascripts/intro/index.js'></script>
  </head>
  <body>
    <header id='banner'>
      <div id='bannerTopMargin'>
        <div id='defaultButtons'>
          <button
            id='mainButton'
            onclick="window.location = '/main'"
          >Diary</button>
          <button id='loginButton'>Login</button>
          <button id='signUpButton'>SignUp</button>
        </div>
      </div>
      <figure id='bannerImgFrame'>
        {{! <img src='' alt='banner image' /> }}
        <div id='bannerImg'></div>
      </figure>
    </header>
    {{message}}

    <div id='loginModal' class='modalOuter'>
      <div id='innerLoginModal' class='modalInner'>
        <h2 id='loginModalHead'>Login</h2>
        <div id='adress'>
          <label class='loginModalLabel' for='adress'>adress</label>
          <input
            id='inputOfAdress'
            class='loginInput'
            type='email'
            name='adress'
            placeholder='이메일을 입력해주세요'
            value='kscodebase@gmail.com'
          />
        </div>
        <div>
          <label class='loginModalLabel' for='password'>password</label>
          <input
            id='inputOfPassword'
            class='loginInput'
            type='password'
            name='password'
            placeholder='패스워드를 입력해주세요'
            value='1234567890@'
          />
        </div>
        <button
          id='localLogin'
          class='loginSubmitButton'
        >login</button>
        <button class='naver loginSubmitButton'>naver</button>
        <button class='gmail loginSubmitButton'>gmail</button>
        <button class='github loginSubmitButton'>github</button>
      </div>
    </div>

    <div id='signUpModal' class='modalOuter'>
      <div id='innerLoginModal' class='modalInner'>
        <h2 id='signUpModalHead'>SignUp</h2>
        <div id='adress'>
          <label class='signUpModalLabel' for='adress'>adress</label>
          <input
            id='inputOfAdress'
            class='signUpInput'
            type='email'
            name='adress'
            placeholder='이메일을 입력해주세요'
          />
        </div>
        <div>
          <label class='signUpModalLabel' for='password'>password</label>
          <input
            id='inputOfPassword'
            class='signUpInput'
            type='password'
            name='password'
            placeholder='패스워드를 입력해주세요'
          />
        </div>
          <label class='signUpModalLabel' for='nickname'>nickname</label>
          <input
            id='inputOfNickname'
            class='signUpInput'
            type='nickname'
            name='nickname'
            placeholder='닉네임을 입력해주세요'
          />
        </div>
        <button
          id='localSignUp'
          class='signUpSubmitButton'
          {{!-- onclick='localLogin()' --}}
        >signUp</button>
      </div>
    </div>

    <div id='modalBackground'></div>

  </body>
</html>