<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <title>함께 만드는 교환 일기</title>
    <link href='/css/common.css' rel='stylesheet' />
    <link href='/css/main/index.css' rel='stylesheet' />
    <script src='/javascripts/util.js'></script>
    <script src='/javascripts/main/detailDiary.js'></script>
    <script src='/javascripts/main/diary.js'></script>
    <script src='/javascripts/main/writeDiary.js'></script>
    <script src='/javascripts/index.js'></script>
  </head>
  <body>

    <div id='searchSection'>
      <label id='appTitle' class='inPutLabel' for='search'>교환일기</label>
      <input
        id='search'
        name='search'
        placeholder='일기 내용을 검색해보세요!'
      />
      <button id='searchButton'>검색</button>

      <div id='sortButtons'>
        <button class='sortButton'>sort by time</button>
        <button class='sortButton'>sort by group</button>
        <button id='write' class='sortButton'>일기 쓰기</button>
      </div>
    </div>
    <main id='note'></main>

    <div id='diaryModal' class='diaryModal modalOuter'>
      <div id='innerDiaryModal' class='modalInner'>
        <h2>제목 : <span id='diaryTitle'></span></h2>
        <h2>날짜 : <span id='diaryDate'></span></h2>
        <h2>내용 : </h2>
        <span id='diaryContent'></span>
      </div>
    </div>

    <div id='writeDiaryModal' class='diaryModal modalOuter'>
      <div id='innerDiaryModal' class='modalInner'>
        <div id='writeDiaryForm'>
          <div>
            <label class='inputLabel' for='writeTitle'>제목 : </label>
            <input
              id='writeTitle'
              class='writeInput'
              type='text'
              name='writeTitle'
            />
          </div>
          <div>
            <label class='inputLabel' for='writeDate'>날짜 : </label>
            <input
              id='writeDate'
              class='writeInput'
              type='date'
              name='writeDate'
            />
          </div>
          <div>
            <label class='inputLabel' for='writeContent'>내용 : </label>
            <input
              id='writeContent'
              class='writeInput'
              type='text'
              name='writeContent'
            />
          </div>
          <button id='completeWriting'>작성 완료</button>
        </div>
      </div>
    </div>

  </body>
</html>