<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <title>함께 만드는 교환 일기</title>
    <link href='/css/main/index.css' rel='stylesheet' />
    <script src='/javascripts/util.js'></script>
    <script src='/javascripts/main/diary.js'></script>
  </head>
  <body>
    <main id='note'></main>
  </body>
</html>