<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <title>함께 만드는 교환 일기</title>
    <link href='/css/common.css' rel='stylesheet' />
    <link href='/css/main/index.css' rel='stylesheet' />
    <link href='/css/main/detailDiary.css' rel='stylesheet' />
    <link href='/css/main/diaryCard.css' rel='stylesheet' />
    <link href='/css/main/writeDiary.css' rel='stylesheet' />
    <script src='/javascripts/util.js'></script>
    <script src='/javascripts/main/detailDiary.js'></script>
    <script src='/javascripts/main/diary.js'></script>
    <script src='/javascripts/main/writeDiary.js'></script>
    <script src='/javascripts/main/searchBar.js'></script>
    <script src='/javascripts/main/index.js'></script>
  </head>
  <body>

    <div id='searchSection'>
      <h1 id='appName' class='mainAppName' onclick="window.location.href='/'">
        <span class='strongText1'>T</span>ransaction
        <span class='strongText2'>D</span>iary
      </h1>

      <div id='sortButtons'>
        <button id='byTime' class='sortButton'>sort by time</button>
        <button id='byGroups' class='sortButton'>sort by group</button>
        <button id='write' class='sortButton'>일기 쓰기</button>
      </div>
    </div>
    <div id='searchBox'>
      <div id='searchContainer'>
        <input
          id='search'
          name='search'
          placeholder='일기 내용을 검색해보세요!'
        />
      </div>
      <button id='searchButton'>검색</button>
    </div>
    <span>원하는 일기를 클릭하면 상세 보기가 가능합니다.</span>

    <main id='note'></main>

    <div id='diaryModal' class='diaryModal modalOuter'>
      <button id='closeDetailDiaryModal' class='closeButton'>x</button>
      <div id='innerDiaryModal' class='modalInner'>
        <button id='deleteDiary'>삭제</button>
        <input type='hidden' id='diaryId' />
        <h2>제목 : <span id='diaryTitle'></span></h2>
        <h2>날짜 : <span id='diaryDate'></span></h2>
        <h2>내용 : </h2>
        <span id='diaryContent'></span>
      </div>
    </div>

    <div id='writeDiaryModal' class='diaryModal modalOuter'>
      <button id='closeWriteDiaryModal' class='closeButton'>x</button>

      <div id='innerDiaryModal' class='modalInner'>
        <div id='writeDiaryForm'>
          <div>
            <label class='inputLabel' for='writeTitle'>제목 : </label>
            <input
              id='writeTitle'
              class='writeInput'
              type='text'
              name='writeTitle'
            />
          </div>
          <div>
            <label class='inputLabel' for='writeDate'>날짜 : </label>
            <input
              id='writeDate'
              class='writeInput'
              type='date'
              name='writeDate'
            />
          </div>
          <div>
            <label class='inputLabel' for='writeContent'>내용 : </label>
            <input
              id='writeContent'
              class='writeInput'
              type='text'
              name='writeContent'
            />
          </div>
          <div>
            <div id='selectGroup' class='writeInput' name='selectGroup'>
            </div>
          </div>

          <button id='completeWriting'>작성 완료</button>
        </div>
      </div>
    </div>

    <div id='modalBackground'></div>

  </body>
</html>