<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <title>함께 만드는 교환 일기</title>
    <link href='/css/common.css' rel='stylesheet' />
    <link href='/css/main/index.css' rel='stylesheet' />
    <script src='/javascripts/util.js'></script>
    <script src='/javascripts/main/detailDiary.js'></script>
    <script src='/javascripts/main/diary.js'></script>
  </head>
  <body>

    <div id='searchSection'>
      <label id='appTitle' for='search'>교환일기</label>
      <input
        id='search'
        name='search'
        placeholder='일기 내용을 검색해보세요!'
      />
      <button id='searchButton'>검색</button>

      <div id='sortButtons'>
        <button class='sortButton'>sort by time</button>
        <button class='sortButton'>sort by group</button>
      </div>
    </div>
    <main id='note'></main>

    <div id='diaryModal' class='diaryModal modalOuter'>
      <div id='innerDiaryModal' class='modalInner'>
        <h2>제목 : <span id='diaryTitle'></span></h2>
        <h2>날짜 : <span id='diaryDate'></span></h2>
        <h2>내용 : </h2>
        <span id='diaryContent'></span>
      </div>
    </div>

    <div id='writeDiaryModal' class='diaryModal modalOuter'>
      <div id='innerDiaryModal' class='modalInner'>
        <h2>제목 : <span id='diaryTitle'></span></h2>
        <h2>날짜 : <span id='diaryDate'></span></h2>
        <h2>내용 : </h2>
        <span id='diaryContent'></span>
      </div>
    </div>

  </body>
</html>