<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <title>함께 만드는 교환 일기</title>
    <link href='/css/common.css' rel='stylesheet' />
    <link href='/css/main/index.css' rel='stylesheet' />
    <script src='/javascripts/util.js'></script>
    <script src='/javascripts/main/detailDiary.js'></script>
    <script src='/javascripts/main/diary.js'></script>
  </head>
  <body>
    <main id='note'></main>

    <div id='diaryModal' class='modalOuter'>
      <div id='innerDiaryModal' class='modalInner'>
      </div>
    </div>
  </body>
</html>