#history {
  border: 1px solid black;
  display: flex;

  width: 50%;
}

.week {
  width: calc(100% / 52);
  border: 0.1px solid gray;
  height: 100%;
}

.date {
  height: calc(100% / 7);
  max-height: calc(100% / 7);
}
