body {
  margin: 0px 0px 0px 0px;

  font-weight: 300;
  /* max-height: 100%; */
}

#bannerTopMargin {
  min-width: 550px;
  min-height: 50px;
  align-items: center;

  padding: 0px 10% 0px 10%;
  overflow: hidden;
}

#defaultButtons {
  float: right;
  margin-top: 15px;
  /* margin-right: 100px; */
}

.bannerTopButtons {
  border: 0px;
  background: transparent;
  width: 80px;

  font-size: 18px;
  text-align: center;

  cursor: pointer;
}

.buttonText {
  font-weight: 100;
}

#bannerImgFrame {
  margin: 0px 0px 0px 0px;
}

#bannerImg {
  width: 100%;
  height: calc(100% - 50px);
  z-index: 11;
  /* background: green; */

  background-image: url('../../images/sky.jpg');
  background-size: 100% 100%;
}

#loginModal {
  top: calc(50% - 250px);
  left: calc(50% - 250px);

  width: 500px;
  height: 500px;
  border-radius: 30px;
}

/* 
#innerLoginModal {
} 
*/

#loginModalHead {
  font-size: xx-large;
  text-shadow: black 1px 1px 1px;
}

.loginModalLabel {
  display: inline-block;
  width: 100px;
}

.loginInput {
  width: calc(100% - 106px);
  height: 30px;
  margin: 5px 0px 15px 0px;
}

.loginSubmitButton {
  height: 30px;
  width: 100%;

  margin: 10px 0px 10px 0px;
}

#signUpModal {
  top: calc(50% - 250px);
  left: calc(50% - 250px);

  width: 500px;
  height: 500px;
  border-radius: 30px;
}

#signUpModalHead {
  font-size: xx-large;
  text-shadow: black 1px 1px 1px;
}

.signUpModalLabel {
  display: inline-block;
  width: 100px;
}

.signUpInput {
  width: calc(100% - 106px);
  height: 30px;
  margin: 5px 0px 15px 0px;
}

.signUpSubmitButton {
  height: 30px;
  width: 100%;

  margin: 10px 0px 10px 0px;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}
