#groupIntro {
  padding: 0% 10% 0% 10%;
}

#groupTitle {
  margin-top: 22px;
  margin-bottom: 0px;
  padding: 0px 15px;
  font-weight: 300;
  line-height: 50px;

  letter-spacing: -3px;
  text-shadow: gray 1px 1px 1px;
}

#groupSubTitle {
  padding: 0px 15px;
  font-weight: 300;

  letter-spacing: 0px;
}

.groupCard {
  margin: 20px 15px;

  width: 25%;
  height: 350px;

  min-width: 100px;
  min-height: 100px;

  box-shadow: wheat 4px 4px 5px;
}

.groupCardHead {
  background-image: url('../../images/rock.jpg');
  background-size: cover;
  width: 100%;
  height: 30%;
}

.groupCardBody {
  width: 100%;
  padding: 0px 20px;
  height: auto;
}
