.diaryCard {
  margin: 20px 15px;

  width: 20%;
  max-width: 20%;
  height: 350px;

  min-height: 100px;

  box-shadow: wheat 4px 4px 5px;
}

.groupName {
  margin-top: 10px;
  margin-bottom: -10px;
}

.noteSection {
  display: flex;
}
.noteSection::-webkit-scrollbar {
  display: none;
}

.noteGroupSection > .noteSection > .diaryCard {
  min-width: 200px;
  max-width: 200px;
}

.noteGroupSection > .noteSection {
  width: 100%;
  overflow-x: auto;
}

.noteSection > .diaryCard:first-child {
  margin-left: 0px;
}

.noteSection > .diaryCard:last-child {
  margin-right: 5px;
}

/* 시각화되지 않도록 box-shadow를 지운다. */
#card {
  box-shadow: none;
}

.diaryCardHead {
  background-image: url('../../images/rock.jpg');
  background-size: cover;
  width: 100%;
  height: 30%;
}

.diaryCardBody {
  width: calc(100% - 40px);
  min-height: 60%;
  max-height: 60%;
  margin: 0px 20px;
  height: auto;

  overflow: hidden;
}

.diaryCardBody > .diaryName {
  font-weight: 300;
  font-size: 20px;
  text-shadow: 0.5px 0.5px 0.5px gray;
}

.diaryCardBody > span {
  font-size: 12px;
  text-overflow: ellipsis;
  word-wrap: break-all;
}

.diaryCardFooter {
  min-height: 10%;
  max-height: 10%;
  margin: 0px 20px;
  overflow: hidden;
}

.diaryCardFooter > span {
  font-size: 13px;
}
